@import "1-base/global-rules";
@import "1-base/fonts";
@import "2-utils/variables";
@import "1-base/typography";

@import "3-layout/container";
@import "3-layout/location";
@import "3-layout/cta";
@import "3-layout/walkthtrough";
@import "3-layout/restaurants-list";

@import "4-composant/card";
