.bookmark{
    align-self: flex-start;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: $space-sm;
    &__svg-color{
        &--primary{
            stop-color: $primary;
        }
        &--secondary{
            stop-color: $secondary;
        }
    }
    &__icon{
        fill: url(#bookmark__icon-fill);
        fill-opacity: 0;    
        stroke: $dark-50;
        stroke-width: 20px;
        height: 1.5rem;
        &:active{
            fill-opacity: 1;
            stroke: url(#bookmark__icon-fill);
        }
    }
}