.button{
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 2rem;
    background: linear-gradient(map-get($colors, secondary), map-get($colors, primary));
    font-size: 1rem;
    color: white;
    cursor: pointer;
}