.card{
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
    &__img{
        object-fit: cover;
        object-position: bottom;
        height: 10.5rem;
        width: 100%;
    }    
    &__content{
        background-color: $light;
        padding: $space-md;
        display: flex;
        justify-content: space-between;
        align-items: top;
    }
    &__title{
        margin-bottom: $space-sm;
    }
    &__link{
        display: hidden;
        &:after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }
    }
    &--new{
        &::before{
            content: "Nouveau";
            background-color: $tertiary;
            border-radius: 0.25rem; 
            padding: $space-sm $space-md;
            font-size: 0.75rem;
            color: $tertiary-dark;
            position: absolute;
            top: $space-md;
            right: $space-md;
        }
    }
    .bookmark{
        z-index: 2;
    }
}