.nav-bar{
    display: grid;
    grid-template-columns: $space-xl auto $space-xl;
    color: $dark;
    width: 100%;
    &__brand{
        font-family: $brand-font;
        font-size: 2rem;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    &__back-button{
        display: none;
        align-self: center;
        grid-column-start: 1;
        color: $dark-20;
    }
    &--comeback{
        .nav-bar__back-button{
            display: block;
        }
    }
}  