.nav-bar{
    display: grid;
    margin: $space-md 0;
    grid-template-columns: $space-xl auto $space-xl;
    color: $dark;
    width: 100%;
    &__brand{
        font-family: $brand-font;
        font-size: 2rem;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    &__back-button{
        display: none;
        align-self: center;
        grid-column-start: 1;
        color: $dark-20;
    }
    &--comeback{
        .nav-bar__back-button{
            display: block;
            margin-left: $space-md;
        }
    }
    @include not-mobile-view{
        display: block;
        width: 50%;
        margin: 0;
        &--comeback{
            display: grid;
            width: 100%;
        }
    }
}  