.radio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $space-md 0;
    height: 5rem;
    background-color: $light;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    &__input{
        display: none;
        &:checked+.radio__checked-marker{
            display: flex;
        }
    }
    &__text{
        flex: 0 4 70%;
        padding: $space-md 0;
        overflow: hidden;
        margin-left: 2.5%;
    }
    &__price{
        flex: 0 1 10%;
        padding: $space-md 0;
        margin-right: 2.5%;
        font-weight: 600;
        text-align: right;
        align-self: flex-end;
    }
    &__checked-marker{
        flex: 0 1 15%;
        display: none;
        order: 1;
        height: 5rem; 
        justify-content: center;
        align-items: center;
        color: $light;
        background-color: $tertiary;
        .fas{
            font-size: 1.75rem;
            height: 1.75rem;
        }   
    }
    &__title{
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__subtitle{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__label::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        content: "";
        background-color: transparent; 
        cursor: pointer;
    }
}