.radio{
    display: flex;
    align-items: center;
    height: 5rem;
    background-color: $light;
    border-radius: $radius-sm;
    box-shadow: $shadow;
    overflow: hidden;
    position: relative;
    animation: emerge 2s both ease-in-out;
    &__input{
        appearance: none;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        cursor: pointer; 
        &:hover+.radio__checked-marker{
            flex-grow: 5;
            transition: flex-grow 1s ease-in-out;
            .radio__checked-icon-container{
                animation: translation 1s ease-in-out both;
                .fas{
                    animation: rotation 1s ease-in-out;
                }
            }
        }
        &:checked+.radio__checked-marker{
            flex-grow: 5;
            transition: flex-grow 1s ease-in-out;
            .radio__checked-icon-container{
                animation: translation 1s ease-in-out both;
                .fas{
                    animation: rotation 1s ease-in-out;
                }
            }
        }
    }
    // Delay the radio's animation. This is limited to four children of the .section. NB : the first child is the section title. 
    $delay: 250ms;
    @for $i from 2 through 5{
        &:nth-child(#{$i}){
            animation-delay: onload($delay);
        }
        $delay: $delay + 250ms;
    }
    &__text{
        flex: 1 2 65%;
        padding: $space-md 0;
        overflow: hidden;
        margin-left: 2.5%;
    }
    &__price{
        flex: 1 1 10%;
        padding: $space-md 0;
        align-self: flex-end;
        margin-right: 2.5%;
        font-weight: 600;
        text-align: right;
        
    }
    &__checked-marker{
        flex: 0 0 0;
        display: flex;
        min-width: 0;
        max-width: 20%;
        transform-origin: right;
        order: 1;
        height: 5rem; 
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        color: $light;
        background-color: $tertiary;
    }
    &__checked-icon-container{
        display: inline-block;
    }
    &__title{
        margin-bottom: 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__subtitle{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__label{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        white-space: nowrap;
    }
}