body{
    font-family: $main-font, sans-serif;
}
h1{
    font-family: $main-title-font, cursive;
}
h2{
    font-weight: 700;
    margin: 0;
}
h3{
    font-weight: 600;
    margin: 0;
}
p{
    font-weight: 300;
    margin: 0;
}
.brand{
    font-family: $brand-font, cursive;
}
a{
    color: inherit;
    text-decoration: none;
}