@keyframes rotation{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
};
@keyframes flexbasis{
    0% {
        flex-basis: 0.0001%;
    }
    100%{
        flex-basis: 15%;
    }
}