@keyframes translation{
    0%{
        transform: translateX(150%);
    }
    100%{
        transform: translateX(0%) ;
    }
}
@keyframes rotation{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes emerge{
    0%{ 
        transform: translateY(1rem);
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fill{
    to{
        fill-opacity: 1;
    }
}
@keyframes loading{
    0%, 99%{
        z-index: 10;
        opacity: 1;
    }
    100%{
        z-index: -1;
        opacity: 0;
    }
}
@keyframes step-background-variation{
    to{
        opacity: 1;
    }
}
@keyframes step-icon-variation{
    to{
        color: $primary;
    }
}
@keyframes loading-logo{
    from{
        opacity: 0.75;
    }
    to{
        opacity: 1;
    }
}
@keyframes grow{
    from{
        transform: scaleX(0);
    }
    to{
        transform: scaleX(1);
    }
}