// colors
$blue: #9356DC;
$magenta: #FF79DA;
$cyan: #99E2D0;
$dark-cyan: #008766;
$black: #18092A;
$grey: #eaeaea;
$light-grey: #F6F6F6;
$dark-grey: #7E7E7E;
$light-black: #353535; 
// colors map
$colors:
(
    primary: $blue,
    secondary: $magenta,   
    tertiary: $cyan,
    dark: $black,
    grey: $grey,
    light: $light-grey,
    not-active: $dark-grey,
    semi-dark: $light-black
);

$brand-font: 'Shrikhand';
$main-title-font: 'Shrikhand';
$main-font: 'Roboto';