@use "sass:color";

// colors
$blue: #9356DC;
$magenta: #FF79DA;
$cyan: #99E2D0;
$black: #000;
$white: #FFF;

// named colors

// basic colors
$primary: $blue;
$secondary: $magenta;  
$tertiary: $cyan;
$dark: $black;
$light: $white;

// primary color variation
$primary-light: color.adjust($primary, $saturation: 34%, $lightness: 36%);

// tertiary color variation
$tertiary-dark: color.adjust($tertiary, $saturation: 44%, $lightness: -48%);

// dark color variations
$dark-20: color.adjust($dark, $lightness: 21%);
$dark-50: color.scale($dark, $lightness: 49%);

// light color variations
$light-4: color.adjust($light, $lightness: -4%);
$light-8: color.adjust($light, $lightness: -8%);

// Fonts
$brand-font: 'Shrikhand';
$main-title-font: 'Shrikhand';
$main-font: 'Roboto';

// Spaces
$space-sm: 0.5rem;
$space-md: 1rem;
$space-lg: 1.5rem;
$space-xl: 3rem;

// Border-radius
$radius-xs: 0.25rem;
$radius-sm: 1rem;
$radius-md: 2rem;
$radius-xl: 3rem;
$radius-circle: 50%;

//  Shadow
$shadow: 0 0.5rem 1rem -0.75rem rgba(0, 0, 0, 0.25);
$shadow-lg: 0 0.5rem 2rem -0.75rem rgba(0, 0, 0, 0.5);