// Common layout
.header{
    padding: $space-md;
    
}
.footer{
    padding: $space-md $space-lg $space-xl;
    background-color: $dark-20;
    .site-map{
        padding: 0;
        margin: 0;
        list-style: none;
        color: $white;
        &__entry{
            margin: $space-sm 0;
            .fas{
                font-size: 0.75rem;
                margin-right: $space-sm;
            }
            &--brand{
                font-family: $brand-font;
                margin-bottom: $space-md;
            }
        }
    }
}

// landing page specific layouts

.location{
    color: $dark;
    background-color: $light-8;
    // box-shadow: 0 -2px 0 5px map-get($colors, dark );
    display: flex;
    justify-content: center;
    padding: $space-md;
    &__icon{
        margin-right: $space-md;
    }
}
.cta{
    @include front-page-section-padding;
    background-color: $light-4;
    display: flex;
    flex-direction: column;
    text-align: center;
    &__lead{
        font-weight: 200;
        margin-bottom: $space-lg;
    }
    &__button{
        margin: auto;
    }
}
.restaurants-list{
    @include front-page-section-padding;
    background-color: $light-4;
}

// Menu specific layouts
.main-picture{
    height: 20rem;
    width: 100%;
    object-fit: cover;
}
.menu{
    margin-top: -5rem;
    z-index: 1;
    position: relative;
    background-color: $light-4;
    padding: $space-lg $space-lg $space-xl;
    border-radius: 3rem 3rem 0 0 ;
    &__header{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    &__title{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        &--h2{
            text-transform: uppercase;
            position: relative;
            margin-bottom: $space-md;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 2.1rem;
                width: 3rem;
                height: 0.3rem;
                background-color: $tertiary;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__section{
        border: none;
        padding: 0;
        margin: $space-lg 0 0;
    }
    &__button{
        margin: auto;
        width: 50%;
    }
}
