.container{
    &__header{
        padding: 1rem;
        .nav-bar{
            display: flex;
            justify-content: center;
            color: $black;
            width: 100%;
            &__brand{
                font-family: $brand-font;
                font-size: 3rem;
            }
            &__back-button{
                display: none;
            }
        } 
    }
    &__footer{
        margin-top: 5rem;
        padding: 1.5rem;
        background-color: map-get($colors, semi-dark );
        .site-map{
            padding: 0;
            margin: 0;
            list-style: none;
            color: white;
            font-size: 1rem;
            &__entry{
                margin: 0.75rem 0;
                .fas{
                    font-size: 0.75rem;
                    margin-right: 0.5rem;
                }
                &--brand{
                    font-family: $brand-font;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}
