// Common layout
.body{
    @include desktop-view{
        background-color: $light-4;
    }
}
.header{
    @include not-mobile-view{
        padding: $space-md $space-lg;
        display: flex;
        justify-content: space-between;
    }
    @include desktop-view{
        @include desktop-boxed-container;
    }
    &--menu{
        .location{
            display: none;
        }
    }
}
.footer{
    padding: $space-md $space-lg $space-xl;
    background-color: $dark-20;
    .site-map{
        padding: 0;
        margin: 0;
        list-style: none;
        color: $light;
        @include not-mobile-view{
            display: grid;
            grid-template-columns: repeat(3, auto);
        }
        @include desktop-view{
            @include desktop-boxed-container(0);
        }
        &__entry{
            margin: $space-sm 0;
            @include not-mobile-view{
                &:nth-child(2){
                    grid-column: 2;
                    grid-row: 1;
                }
                
                &:nth-child(3){
                    grid-column: 2;
                    grid-row: 2;
                }
                &:nth-child(4){
                    grid-column: 3;
                    grid-row: 1;
                }
                
                &:nth-child(5){
                    grid-column: 3;
                    grid-row: 2;
                }
                &--brand{
                    grid-column: 1;
                    grid-row: 1;
                }
            }
            .fas{
                font-size: 0.75rem;
                margin-right: $space-sm;
            }
            &--brand{
                font-family: $brand-font;
                margin-bottom: $space-md;
            }
        }
        
    }
}

// landing page specific layouts

.location{
    color: $dark;
    background-color: $light-8;
    box-shadow: inset 0 5px 5px -4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $space-md;
    &__icon{
        margin-right: $space-sm;
        text-align: right;
    }
    &__input{
        border: none;
        background-color: transparent;
        padding: $space-sm;
        width: 50%;
        &::placeholder{
            opacity: 1;
        }
        &:focus{
            outline: none;
            box-shadow: inset 0 -0.1rem 0 $dark;
            background-color: $light-4;
        }
    }
    @include not-mobile-view{
        padding: 0;
        width: 30%;
        background-color: $light;
        box-shadow: unset;
        &__input{
            width: 100%;
        }
    }
}
.hero{
    @include tablet-view{
        display: flex;
        gap: $space-xl;
        @include front-page-section-padding;
    }
}
.cta{
    $max-width: 50%;
    @include front-page-section-padding;
    background-color: $light-4;
    display: flex;
    flex-direction: column;
    text-align: center;
    @include tablet-view{
        background-color: $light;
        text-align: left;
        flex: 1;
        padding: 0;
    }
    @include desktop-view{
        text-align: left;
        @include desktop-boxed-container;
        height: 50vh;
        justify-content: center;
    }
    &__title{
        @include desktop-view{
            max-width: $max-width;
        }
    }
    &__lead{
        font-weight: 200;
        margin-bottom: $space-lg;
        @include desktop-view{
            max-width: $max-width;
        }
    }
    &__button{
        margin: auto;
        @include not-mobile-view{
            margin: unset;
            width: 75%;
            text-align: center;
        }
        @include desktop-view{
            max-width: $max-width;
        }
    }
}
.restaurants-list{
    @include front-page-section-padding;
    background-color: $light-4;
    display: flex;
    flex-direction: column;
    gap: $space-md;
    @include not-mobile-view{
        flex-flow: row wrap;
        &__title{
            flex-basis: 100%;
        }
    }
    @include desktop-view{
        @include desktop-boxed-container;
        justify-content: space-between;
        .card{
            flex: 1 1 30%;
            max-width: 30%;
        }
    }
}

// restaurant-pages specific layouts
.restaurant{
    @include desktop-view{
        display: flex;
    }
    &__picture{
        height: 20rem;
        width: 100%;
        object-fit: cover;
        @include desktop-view{
            flex: 1;
            height: auto;
        }
    }
}

.menu{
    margin-top: -5rem;
    z-index: 1;
    position: relative;
    background-color: $light-4;
    padding: $space-lg $space-lg $space-xl;
    border-radius: $radius-xl $radius-xl 0 0 ;
    @include desktop-view{
        flex: 2;
        margin-top: 0;
        border-radius: 0;
    }
    &__header{
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title{
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        &--h2{
            text-transform: uppercase;
            position: relative;
            margin-bottom: $space-lg;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 2.1rem;
                width: 3rem;
                height: 0.3rem;
                background-color: $tertiary;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__section{
        border: none;
        padding: 0;
        margin: $space-lg 0 0;
        display: flex;
        flex-direction: column;
        gap: $space-md;
        @include not-mobile-view{
            display: flex;
            flex-flow: row wrap;
            gap: $space-md;
            .radio{
                width: 47.5%;
            }
        }
    }
    &__button{
        margin: $space-lg auto;
        width: 50%;
    }
}
