// Common layout
.header{
    padding: 1rem;
    
}
.footer{
    padding: 1.5rem;
    background-color: map-get($colors, semi-dark );
    .site-map{
        padding: 0;
        margin: 0;
        list-style: none;
        color: white;
        font-size: 1rem;
        &__entry{
            margin: 0.75rem 0;
            .fas{
                font-size: 0.75rem;
                margin-right: 0.5rem;
            }
            &--brand{
                font-family: $brand-font;
                margin-bottom: 1.5rem;
            }
        }
    }
}

// landing page specific layouts

.location{
    color: map-get($colors, dark );
    background-color: map-get($colors,grey);
    // box-shadow: 0 -2px 0 5px map-get($colors, dark );
    display: flex;
    justify-content: center;
    padding: 0.75rem;
    font-size: 1rem;
    &__icon{
        margin-right: 1rem;
    }
}
.cta{
    background-color: map-get($colors, light);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    &__lead{
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 1.5rem;
    }
    &__button{
        margin: auto;
    }
}
.restaurants-list{
    padding: 3rem 1.5rem;
    background-color: map-get($colors, light );
}

// Menu specific layouts
.main-picture{
    height: 20rem;
}
.menu{
    margin-top: -5rem;
    z-index: 3;
    position: relative;
    background-color: map-get($colors, light );
    padding: 1.5rem;
    border-radius: 3rem 3rem 0 0 ;
    &__header{
        background-color: map-get($colors, light );
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0.5rem 0;

    }
    &__title{
        background-color: map-get($colors , light );
        margin: 0;
        font-size: 1.5rem;
        font-weight: 300;
        &--h2{
            text-transform: uppercase;
            font-size: 1.2rem;
            position: relative;
            margin-bottom: 1rem;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 1.7rem;
                width: 3rem;
                height: 0.2rem;
                background-color: map-get($colors, tertiary );
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__section{
        border: none;
        margin: 1rem 0;
        padding: 0;
    }
    &__button{
        margin: 3rem auto;
        width: 50%;
    }
}
