.cta{
    background-color: map-get($colors, light);
    display: flex;
    flex-direction: column;
    padding: 5rem 7rem;
    text-align: center;
    &__title{
        font-size: 4rem;
        margin-bottom: 1rem;
    }
    &__lead{
        font-size: 2.5rem;
        font-weight: 200;
        margin-bottom: 2rem;
    }
    &__button{
        padding: 1rem;
        width: 75%;
        margin: auto;
        border-color: transparent;
        border-radius: 5rem;
        background: linear-gradient(map-get($colors, secondary), map-get($colors, primary));
        font-size: 2.5rem;
        color: white;
    }
}