.cta{
    background-color: map-get($colors, light);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
    &__lead{
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 1.5rem;
    }
    &__button{
        padding: 0.75rem 0;
        width: 65%;
        margin: auto;
        border-color: transparent;
        border-radius: 2rem;
        background: linear-gradient(map-get($colors, secondary), map-get($colors, primary));
        font-size: 1rem;
        color: white;
    }
}