.container__header{
    padding: 2em;
    .nav-bar{
        display: flex;
        justify-content: center;
        color: $black;
        width: 100%;
        .brand{
            font-size: 5em;
        }
        &__back-button{
            display: none;
        }
    }
    
}