.loading-screen{
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    animation: loading 1s both;
    &__title{ 
        font-family: $brand-font;
        padding: $space-lg;
        position: relative;
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        background-clip: text;
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        font-size: 3.5rem;
        z-index: 11;
        animation: loading 1s both, loading-logo 1s ease-in-out both infinite alternate;
        &::before{
            content: "";
            position: absolute;
            top: -5rem;
            left: calc(50% - 2.5rem);
            background: linear-gradient($primary, $secondary);
            height: 5rem;
            width: 5rem;
            border-radius: $radius-circle;
            animation: rotation 200ms linear infinite;
        }
        &::after{
            content: "";
            position: absolute;
            top: -4.5rem;
            left: calc(50% - 2rem);
            background-color: $light;
            height: 4rem;
            width: 4rem;
            border-radius: $radius-circle;
        }
    }
}