.loading-screen{
    background-color: $light;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    animation: loading 3s both;
    &__title{ 
        font-family: $brand-font;
        padding: $space-lg;
        background: linear-gradient($primary, $secondary);
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0);
        opacity: 0;
        font-size: 3.5rem;
        z-index: 11;
        animation: loading 3s both, loading-logo 1s ease-in-out both infinite alternate;
    }
}