.location{
    color: map-get($colors, dark );
    background-color: map-get($colors,grey);
    // box-shadow: 0 -2px 0 5px map-get($colors, dark );
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    font-size: 2rem;
    &__icon{
        margin-right: 1.5rem;
    }
}