.walkthrough{
    @include front-page-section-padding;
    @include desktop-view{
        background-color: $light;
    }
    &__title{
        @include tablet-view{
            font-size: 1.2rem;
            font-weight: 400;
            color: $dark-50;
            text-align: center;
        }
        @include desktop-view{
            @include desktop-boxed-container;
        }
    }
    &__list{
        list-style: none;
        counter-reset: step;
        padding-left: 0.75rem;
        @include desktop-view{
            display: flex;
            gap: $space-xl;
        }
    }
    &__step{
        position: relative;
        background-color: $light-4;
        padding: $space-lg 0;
        margin: $space-md 0;
        border-radius: $radius-xl;
        text-align: center;
        z-index: 1;
        box-shadow: $shadow;
        &::before{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 1.5rem;
            width: 1.5rem;
            border-radius: $radius-circle;
            background-color: $primary;
            display: inline;
            color: $light;
            line-height: 1.5rem;
            counter-increment: step;
            content: counter(step);
            
        }
        .fas{
            color: $dark-50;
            position: absolute;
            left: 2.5rem;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $primary-light;
            opacity: 0;
            z-index: -1;
            border-radius: $radius-xl;
        }
        @include desktop-view{
            flex: 1 1 25%;
        }
    }
    &:hover .walkthrough__step{
        &:nth-child(1){
            &::after{
                animation: step-background-variation 500ms;
            }
            .fas{
                animation: step-icon-variation 500ms;
            }   
        }
        &:nth-child(2){
            &::after{
                animation: step-background-variation 500ms 500ms;
            }
            .fas{
                animation: step-icon-variation 500ms 500ms;
            }   
        }
        &:nth-child(3){
            &::after{
                animation: step-background-variation 500ms 1s;
            }
            .fas{
                animation: step-icon-variation 500ms 1s;
            }   
        }
    }
    @include tablet-view{
        flex: 1;
        padding: 0;
    }
}