.walkthrough{
    @include front-page-section-padding;
    @include tablet-view{
        flex: 1;
        padding: 0;
    }
    @include desktop-view{
        background-color: $light;
    }
    &__title{
        @include tablet-view{
            font-size: 1.2rem;
            font-weight: 400;
            color: $dark-50;
            text-align: center;
        }
        @include desktop-view{
            @include desktop-boxed-container;
        }
    }
    &__list{
        list-style: none;
        counter-reset: step;
        padding-left: 0.75rem;
        @include desktop-view{
            display: flex;
            gap: $space-xl;
        }
    }
    &__step{
        position: relative;
        background-color: $light-4;
        padding: $space-lg 0;
        margin: $space-md 0;
        border-radius: $radius-xl;
        padding-left: 0.75rem;
        display: grid;
        grid-template-columns: minmax(min-content, 1fr) minmax(min-content, max-content) minmax(0, 1fr);
        place-items: center;
        white-space: nowrap;
        z-index: 1;
        box-shadow: $shadow;
        &::before{
            counter-increment: step;
            content: counter(step);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 1.5rem;
            width: 1.5rem;
            border-radius: $radius-circle;
            background-color: $primary;
            color: $light;
            text-align: center;
            line-height: 1.5rem;        
        }
        .fas{
            color: $dark-50;
            grid-column: 1;
            // margin-left: 1rem;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $primary-light;
            opacity: 0;
            z-index: -1;
            border-radius: $radius-xl;
        }
        @include desktop-view{
            flex: 1 1 25%;
        }
    }
    &__text{
        grid-column: 2;
    }
    &:hover .walkthrough__step{
        &:nth-child(1){
            &::after{
                animation: step-background-variation 500ms;
            }
            .fas{
                animation: step-icon-variation 500ms;
            }   
        }
        &:nth-child(2){
            &::after{
                animation: step-background-variation 500ms 500ms;
            }
            .fas{
                animation: step-icon-variation 500ms 500ms;
            }   
        }
        &:nth-child(3){
            &::after{
                animation: step-background-variation 500ms 1s;
            }
            .fas{
                animation: step-icon-variation 500ms 1s;
            }   
        }
    }
}