.walkthrough{
    @include front-page-section-padding;
    &__list{
        list-style: none;
        counter-reset: step;
        padding-left: 0.75rem;
    }
    &__step{
        position: relative;
        background-color: $light-4;
        padding: $space-lg 0;
        margin: $space-md 0;
        border-radius: 3rem;
        text-align: center;
        &::before{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 50%;
            background-color: $primary;
            display: inline;
            color: $light;
            line-height: 1.5rem;
            counter-increment: step;
            content: counter(step);
            
        }
        .fas{
            color: $dark-50;
            position: absolute;
            left: 2.5rem;
        }
    }
}